Texto para Escrita -> Mostranod notebook jupiter

In [36]:
# Analise de dados
import pandas as pd
# Gráficos
import matplotlib.pyplot as plt

Criar Dataset Ficticio

In [37]:
# Dados
dados = {
    "Companhia": ["Azul","Gol","Latam","Azul","Gol"],
    "Preço_R$": [500, 650 , 800, 550, 700],
    "Duracao_min": [120, 150, 200, 130, 160]
}
df = pd.DataFrame(dados)

Visualizar DataSet

In [38]:
df

  Companhia  Preço_R$  Duracao_min
0      Azul       500          120
1       Gol       650          150
2     Latam       800          200
3      Azul       550          130
4       Gol       700          160